table {
    margin: 0;
    padding: 0;
    width: 100%;
}

table th, table td {
    padding: 0.5em;
}

table thead {
    color: #3270ed;
}

table th {
    text-align: left;
    border-bottom: 2px solid #3270ed;
}

table tr:nth-child(2n) {
    background-color: #f5f3f4;
}

code {
    font-size: 16px;
}
li {
    margin-top: 0.2em;
}
li li {
    margin-top: 0.1em;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header img {
    margin: 0;
}

span.monospace {
    font-family: monospace;
}
